*.iml
.gradle/
.gradle-local/
local.properties

.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

.vscode/
.kotlin/
.DS_Store

build/
**/build/

captures/
.externalNativeBuild/
.cxx/
automation-logs/